*{
    margin: 0px;
    padding: 0px;

}
.card1{
    width:25rem;
    margin-left: 0px;
}
.title{
    font-size: 30px;
}
.text{
    font-size: 25px;
}
h1{
    text-align: center;

}
p{
    font-size: 30px;
}
.Cardstyle{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


